body {
    font-family: 'poppins' , sans-serif;
    font-weight: 400;
}

main{
    display: grid;
    grid-template-areas: 'cabecalio cabecalio '
                         'section section'
                         'footer footer';
    grid-template-columns: 1fr 1fr;
    background-image:url(./images/bg-desktop.svg) ;
    background-color:var(--cor-principal);
    height: 100vh;
}

.cabecalio{
    grid-area: cabecalio;
}

.cabecalio .logo {
    padding: 40px;
    margin: 0 30px;
}
.cabecalio .logo img {
    max-width: 215px;
}


.section {
    grid-area: section;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.section .images img {
    width: 100;
}


.section .info {
    width: 60vh;
    height: 100%;
    margin-left: 30px;
}

.section .info h1 {
    color: #fff;
    font-size:40px;
    margin:40px 0 0 20px;
}

.section .info p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    padding: 20px;
    min-width: 570px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.section .info .register{
    background-color: #fff;
    color: var(--cor-principal);
    font-size: 18px;
    font-weight: 100;
    max-height: 20px;
    max-width: 200px;
    padding: 17px 70px;
    border-radius: 50px;
    margin: 20px ;
    transition: 0.3s;
}
.section .info .register:hover{
    background-color: var(--cor-btn);
    color: #fff;
}

.footer {
    grid-area: footer;
    height: 100%;
    display: flex;
    justify-content: end;
    margin: 0 70px 0 0;
}
.footer i {
    font-size: 20px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
    width: 40px;
    transition: 0.3s;
}

.footer i:hover {
    color:var(--cor-btn) ;
    border: solid 1px var(--cor-btn);
    cursor: pointer;   
}

@media(max-width:1440px){
    
    .section .info p {
        min-width: 400px;
    }

}

@media(max-width:1200px){
    
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
   
    .section .info p {
        margin-bottom: 20px;
        padding: 20px;
    }
    .section .images img {
        width: 400px;
    }
}

@media(max-width:660px){
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        background-image: url(images/bg-mobile.svg) ;
    }
    .cabecalio{
        width: 400px;
    }
    .cabecalio .logo{
        margin: 0;
        padding: 30px 0;
    }
    .cabecalio .logo img{
        width: 200px;
    }
    .section{
        width: 100%;
    }
    .section .images img {
        width: 400px;
        margin-top:40% ;
    }
    .section .info {
        width: 400px;
        text-align: center;
    }
    .section .info h1{
        font-size: 30px;
        max-width: 400px;
    }

    .section .info p {
        margin-bottom:20px;
        max-width: 400px;
    }

    .section .info .register{
        margin: 0;
    }

    .footer{
        margin: 0;
        text-align: center;
        height: 100%;
    }


    .footer .social {
        width: 100%;
        padding: 30px;
        height: 100px;
        margin: 0 auto;
        align-self: flex-end;
    }
    .footer .social i {
        align-self: flex-end;
    }
    
}