@media(max-width:1100px){
    .cabecalio .logo {
        width: 10rem;
    }
    .title{
        font-size: 1.6rem;
    }
}

@media(max-width:900px){
    body{
        background: var(--cor-principal) url(../images/bg-mobile.svg) no-repeat center;
        background-size: cover;
    }
    main{
        height: 100%;
        flex-direction: column;
        margin-bottom: 39px;
    }
    .cabecalio {
        padding: 30px;
        .logo img{
            margin: 0;
        }
    }
    .section{
        flex-direction: column;
        text-align: center;
        padding: 0 10px;
        .images img {
            width: 100%;
            max-width:300px;
            min-width: 270px;
        }

        .info{
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0 auto 20px;
        }
    }

     .footer{
        justify-content: center; 
        width: 100%;
        margin-top: auto;
    } 
      
}