html{
    height: 100vh;
}
body{
     
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    font-family: 'poppins' , sans-serif;
    font-weight: 400;
    background: var(--cor-principal) url(./images/bg-desktop.svg) no-repeat ;
    background-size:cover;
}

main{
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cabecalio{
    display: flex;
    max-width: 100%;
    justify-content: flex-start;
    width: 1440px;
    padding: 25px 0 53px 72px;
    .logo{
        width: 13.3rem;
    }
    .logo img{
        width: 100%;
        margin-top: 2rem;
    }

}


.section{
    display: flex;
    padding: 1.5625rem  4.5625rem  0;
    max-width: 100%;
    gap: 3.2rem;
    
    .images{
        width: 100%;
        img{
            max-width: 100%;
            min-width: 400px;
        }
    }

    .info{
        font-size: 1.25rem;
        padding: 2.6875rem 0;
        color: #ffffff;
        width: min(950px,calc(100% - 4rem));
        
        .title{
            margin-bottom: 20px;
            font-weight: 500;
            
        }
        .content{
            color: #ffffff;
            font-size: 16.9px;
            margin-bottom: 40px;
            font-weight: 400;
        }
        
        .register{
            background-color: #ffffff;
            color: var(--cor-principal);
            padding: 16px 63px;
            border-radius: 50px;
            font-size: 18px;
            box-shadow:0px 0px 10px  black;
            transition: 0.3s ease-in-out;
            &:hover{
                background-color: var(--cor-btn);
                color: #ffffff;
                
            }
        }
    }
}

.footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    .social{
        margin: 0px 60px 26px;
        padding: 20px;
        
        ul{
            display: flex;
            gap: 18px;
        
        }
        a{
            padding: 8px;
            width: 100%;
            color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 100%;
            transition: 0.3s ease-in-out;
            &:hover{
                color: var(--cor-btn);
                border:solid 1px var(--cor-btn);
                
            }
        }
    }
}